<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.FileAppender">
        <param name="File"   value="/htdocs/www/logs/cubby.log" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
		    <param name="ConversionPattern" value="%t %-5p %c - %m%n"/>
        </layout>	    
	</appender>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C (%F:%L) - %m%n"/>
		</layout>		
	</appender>
	
	<!-- 输出日志到文件  文件大小到达指定尺寸的时候产生一个新的文件 -->
	<!-- SUYEAR -->  
    <appender name="railyFile"   
        class="org.apache.log4j.RollingFileAppender">  
        <param name="File" value="/htdocs/www/logs/dailyLog.log"></param>  
        <param name="ImmediateFlush" value="true"/>  
        <param name="Threshold" value="info"></param>  
        <param name="Append" value="true"></param>  
        <param name="MaxFileSize" value="4096KB"></param>  
        <param name="MaxBackupIndex" value="100"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n" />  
        </layout>  
    </appender>  
	
	
<!-- 
	<logger name="org.hibernate">
	  <level value="info" />
	  <appender-ref ref="file" />
	</logger>

	<logger name="org.springframework">
	  <level value="info" />
	  <appender-ref ref="file" />
	</logger>
-->

	<logger name="org">
	  <!-- SUYEAR -->
	  <!-- 错误信息 -->
	  <level value="error" />
	  <appender-ref ref="file" />
	  <appender-ref ref="railyFile" />
	  <!-- Debug信息 -->
	<!-- 
	  <level value="debug" />
	  <appender-ref ref="file" />
	  <appender-ref ref="railyFile" />
	  -->
	</logger>
	
	
	<root>
		<!-- SUYEAR -->
	   <!-- 输出错误信息到文件 -->
	   <priority value ="error" />
   	   <appender-ref ref="stdout" />   
       <appender-ref ref="railyFile" /> 
       
       <!-- 输出Debug信息到文件 -->
    <!-- 
       <priority value ="debug" />
   	   <appender-ref ref="stdout" />   
       <appender-ref ref="railyFile" />
       -->    
	</root>


</log4j:configuration>
